html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

h1 {
	text-align: center;
}

div {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

textarea {
	flex: 1;
	resize: none;
	font: 18px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	padding: 1em;
}