<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="og:title" content="az.helb.cz" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="az.helb.cz" />
    <meta property="og:url" content="https://az.helb.cz/" />
    <meta
      property="og:image"
      content="assets/og.png"
    />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
